
@charset="utf-8";


.banner{

		background-image: url("..//images/hero_2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height:100vh;
		width: 100%;
	}


.filter{

		width: 100%;
		height: 100vh;
		background-color:rgba(0,0,0,0.3);

	}

a.navbar-brand{

	color: white;
	letter-spacing: 3px;
}

@media(max-width: 768px){

	.bgmenu{


		background-color:black;
	}
}

.nav-item{

	padding: 10px;
}

.home{

	color: white;
	letter-spacing: 2px;
}

.home:hover{

	color: orange;
}

a.dropdown-item:hover{

	background-color: orange;
}

.home-text h3{

	color: white;
	font-size: 25px;
	padding-top: 50px;
	font-family: Agency FB;
}

.home-text h1{

	color: white;
	font-size: 120px;
}

@media(max-width: 768px){

	.home-text h1{

	color: white;
	font-size: 60px;
}

}

.video-icon{

	width: 60px;
	height: 60px;
	background-color: white;
	border-radius: 50%;
	transition: 0.5s;
}

.video-icon:hover{

	width: 60px;
	height: 60px;
	background-color: white;
	border-radius: 50%;
	transform: scale(1.5);
	transition: 0.5s;
}

.startup{

	width: 100%;
	height: 400px;
	background-image: url("..//images/work_1.jpg");
	background-size: cover;
}

.start-hover{

	width: 100%;
	height: 400px;
	background-color:transparent;
	transition: 0.5s;
}

.start-hover h4{

	color: transparent;
	text-align: center;
	padding-top: 160px;
	font-family: sans-serif;
}

.start-hover:hover h4{

	color: white;
	transition: 0.5s;
	transform: scale(1.3);
}

.start-hover p{

	color:transparent;
	text-align: center;
}

.start-hover:hover p{

	color: #ccc;
	transition: 0.5s;
	padding-top: 20px;
	transform: scale(1.3);
}



.start-hover:hover{

	width: 100%;
	height: 400px;
	background-color:rgba(0,0,0,0.4);
	cursor: pointer;
	transition: 0.5s;
}


.startup1{

	width: 100%;
	height: 400px;
	background-image: url("..//images/work_2.jpg");
	background-size: cover;
}

.start-hover1{

	width: 100%;
	height: 400px;
	background-color:transparent;
	transition: 0.5s;
}

.start-hover1 h4{

	color: transparent;
	text-align: center;
	padding-top: 160px;
	font-family: sans-serif;
}

.start-hover1:hover h4{

	color: white;
	transition: 0.5s;
	transform: scale(1.3);
}

.start-hover1 p{

	color:transparent;
	text-align: center;
}

.start-hover1:hover p{

	color: #ccc;
	transition: 0.5s;
	padding-top: 20px;
	transform: scale(1.3);
}



.start-hover1:hover{

	width: 100%;
	height: 400px;
	background-color:rgba(0,0,0,0.4);
	cursor: pointer;
	transition: 0.5s;
}


.startup2{

	width: 100%;
	height: 400px;
	background-image: url("..//images/work_3.jpg");
	background-size: cover;
}

.start-hover2{

	width: 100%;
	height: 400px;
	background-color:transparent;
	transition: 0.5s;
}

.start-hover2 h4{

	color: transparent;
	text-align: center;
	padding-top: 160px;
	font-family: sans-serif;
}

.start-hover2:hover h4{

	color: white;
	transition: 0.5s;
	transform: scale(1.3);
}

.start-hover2 p{

	color:transparent;
	text-align: center;
}

.start-hover2:hover p{

	color: #ccc;
	transition: 0.5s;
	padding-top: 20px;
	transform: scale(1.3);
}



.start-hover2:hover{

	width: 100%;
	height: 400px;
	background-color:rgba(0,0,0,0.4);
	cursor: pointer;
	transition: 0.5s;
}

.startup3{

	width: 100%;
	height: 400px;
	background-image: url("..//images/work_4.jpg");
	background-size: cover;
}

.start-hover3{

	width: 100%;
	height: 400px;
	background-color:transparent;
	transition: 0.5s;
}

.start-hover3 h4{

	color: transparent;
	text-align: center;
	padding-top: 160px;
	font-family: sans-serif;
}

.start-hover3:hover h4{

	color: white;
	transition: 0.5s;
	transform: scale(1.3);
}

.start-hover3 p{

	color:transparent;
	text-align: center;
}

.start-hover3:hover p{

	color: #ccc;
	transition: 0.5s;
	padding-top: 20px;
	transform: scale(1.3);
}



.start-hover3:hover{

	width: 100%;
	height: 400px;
	background-color:rgba(0,0,0,0.4);
	cursor: pointer;
	transition: 0.5s;
}

.classic-img{

	width: 100%;
	height: 600px;
}

.classic-img img{

	width: 100%;
	height: 600px;
}

.about-img{

	width: 300px;
	height: 170px;
	position: absolute;
	bottom: -20px;
	right: 0px;
}

.about-img img{

	width: 300px;
	height: 170px;
}

.about-text{

	width: 100%;
	height: 380px;
	padding: 20px 0px 0px 70px;
}

.about-text h4{

	font-size: 20px;
	color: orange;
	font-family: serif;
}

.about-text h3{

	font-size: 32px;
}

.about-text p{

	color: gray;
	line-height: 30px;
	margin-top: 30px;
}

@media(max-width: 768px){


	.about-text{

	width: 100%;
	height: 400px;
	margin-top: 20px;
	padding: 20px 0px 0px 0px;
}

.about-text h4{

	font-size: 20px;
	color: orange;
	font-family: serif;
}

.about-text h3{

	font-size: 32px;
}

.about-text p{

	color: gray;
	line-height: 30px;
	margin-top: 30px;
}
}


.about-text button{

	width: 160px;
	height: 45px;
	border:2px solid black;
	background-color:transparent;
	font-weight: bold;
	margin-top: 30px;
	transition: 0.5s;
}


.about-text button:hover{

	color: white;
	background-color: black;
	transition: 0.5s;
}

.design{

	width: 100%;
	height: 150px;
}

.design h3{

	font-size: 20px;
	font-family: sans-serif;
}

.design p{

	color: gray;
	font-family: sans-serif;
	line-height: 30px;
	margin-top: 15px;
}

.person-1{

	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-top: 50px;
	padding: 5px;
}

.lets button{


	width: 200px;
	height: 50px;
	background-color: transparent;
	border:2px solid white;
	margin-top: 20px;
	font-weight: bold;
	color: white;
	transition: 0.5s;
	margin-bottom: 50px;
}

.lets button:hover{

	background-color: white;
	color: black;
	transition: 0.5s;
}

.contact{

	margin-left: 50px;
	padding-top: 120px;
}

.contact h4{

	font-size: 20px;
	letter-spacing: 2px;
}

.contact p{

	line-height: 30px;
	margin-top: 20px;
}

.contact ul{

	display: inline-flex;
}

.contact li{

	list-style: none;
	width: 30px;
	height: 30px;
	background-color:transparent;
	margin-left: 10px;
	border-radius: 50%;
	padding: 2px 0px 0px 9px;
	transition: 0.5s;
}

.contact li:hover{

	background-color: white;
	transition: 0.5s;
}

.contact a{

	color: black;
}

.contact-info{

	margin-left: 50px;
	padding-top: 120px;
}

.contact-info h4{

	font-size: 20px;
}

.contact-info h5{

	font-size: 15px;
	margin-top: 25px;
}


.qucik-link{

	margin-left: 50px;
	padding-top: 120px;
}

.qucik-link h4{

	font-size: 20px;
}


.qucik-link a{

	color: black;
	text-decoration:underline;
}

@media(max-width: 768px){

	.contact{

	margin-left: 0px;
	padding-top: 80px;
}

	.contact-info{

	margin-left: 0px;
	padding-top: 80px;
}


	.qucik-link{

	margin-left: 0px;
	padding-top: 80px;
}



}

.copy{

	margin-bottom: 40px;
}